{{#if recommendations}}
    <ul class="recommendations recommendations--brief">
        {{#each recommendations as |rec|}}
            <li class="recommendation recommendation--brief">
                <a class="recommendation__link"
                   href="{{rec.url}}"
                   data-recommendation="{{rec.id}}"
                   target="_blank"
                   rel="noopener">
                   
                    <span class="recommendation__media" aria-hidden="true">
                        {{#if rec.favicon}}
                            <img class="recommendation__favicon"
                                 src="{{rec.favicon}}"
                                 alt="{{rec.title}}"
                                 loading="lazy"
                                 onerror="this.style.display='none';">
                        {{else}}
                            <span class="recommendation__fallback"></span>
                        {{/if}}
                    </span>

                    <span class="recommendation__content">
                        <span class="recommendation__title">{{rec.title}}</span>
                        <span class="recommendation__url">{{readable_url rec.url}}</span>
                        {{#if rec.description}}
                            <span class="recommendation__description">{{rec.description}}</span>
                        {{/if}}
                    </span>
                </a>
            </li>
        {{/each}}
    </ul>
{{/if}}